.logo--vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    background: var(--surface-v);
    height: 100%;
}
.logo--vertical a{
    text-decoration: none;
    text-align: center;
    width: 30%;
}
.logo--vertical img{
    width: 100%;
}
.logo--vertical h2{
    color: var(--primary);
}
.logo--vertical b{
    font-weight: 700;
}
.logo--vertical small{
    color: var(--outline);
    font-weight: 700;
}
.logo__message{
    margin: 1rem;
    text-align: center;
}

.sign--in-up__card{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.sign--in-up__title{
    color: var(--primary);
    font-weight: 700;
    text-align: center;
}
.sign--in-up__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
    width: 40%;
    height: 100%;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
}
.sign--in-up__form__field{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.sign--in-up__form__field small a{
    color: var(--on-tertiary-cont);
    font-weight: 700;
}
.sign--in-up__form button{
    padding: .5rem;
}
.register__enlace a{
    color: var(--on-primary-cont);
    font-weight: 700;
}
.sign--in-up__footer{
    background: var(--primary-cont);
    color: var(--on-primary-cont);
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.sign--in-up__form__field--row{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.sign--in-up__form__field--row label{
    display: flex;
    align-items: center;
}
.pass{
    display: flex;
    align-items: center;
}
.pass input{
    flex-grow: 1;
    position: relative;
}
.pass i{
    position: absolute;
    right: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .topbar{
        display: none;
    }
    .sign--in-up__card{
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .sign--in-up__form{
        width: 100%;
        justify-content: flex-start;
        box-shadow: none;
        padding: 0;
        height: auto;
    }
    .logo--vertical{
        width: 100%;
        height: auto;
        background: none;
    }
    .logo__message{
        display: none;
    }
    .pass i{
        right: 1.5rem;
    }
}